.card-img-top {
    height: 300px;
    width: 270px;
}

.row {
    margin-bottom: 50px;
}

//dev-doom work
img.carouselimg {
    height: 675px;
    width: 100%;
}

p.sideH {
    margin-bottom: 7rem;
}

div.slide{
    margin-bottom: 5rem;
}
//dev-doom work
header {
    .h-100 {
        height: auto;
    }
}

.logo {
    margin: 0 20px 0 20px;
    width: 50px;
    height: 50px;
    background: url(/img/logo.png);
}

.Rectanggle {
    left: 10%;
    margin: 0 20px 0 20px;
}

.bag {
    position: absolute;
    width: 16.13px;
    height: 18rem;
    left: 15rem;
}

li {
    display: inline;
    margin-right: 10px;
}

li.price {
    text-decoration: line-through;
}